.container_home {
    width: 1440px;
    height: 1086px;
    opacity: 1;
    top: 65px;
    left: 247.5px;
    gap: 24px;
    padding: 32px;
}

.container_footer {
    width: 1935px;
    height: 281px;
    opacity: 1;
    top: 1151px;
    padding-top: 1px;
    padding-right: 247.5px;
    padding-left: 247.5px;
    border-top-width: 1px;
}