.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* max-width: 1935px; */
    height: 65px;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    /* padding: 0 247.5px; */
    padding: 0 24px;
}

/* .container_header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    height: auto;
    padding-right: 32px;
    padding-left: 32px;
    gap: 2rem;
} */

/* .container_navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 304.3px;
    height: 32px;
    gap: 32px;
} */