.techstor {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    text-align: center;
    white-space: nowrap;
    /* убираем фиксированные ширину/высоту */
}