.container_shopContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 24px;
    padding: 32px;
    flex: 1;
    min-height: 0;               /* Важно! Позволяет потомкам использовать высоту корректно */
    align-items: stretch; 
}